
# General 
DEBUG=False
ENV=LOCALDEV
APP_TITLE="CUT Prototype Public API"
APP_DESCRIPTION="API exposed to the public that communicates to the other APIs."
APP_VERSION="0.1.0"
APP_PORT=88

# Auth
TOKEN_SIGNING_KEY="local-dev-key"

# Redis 
REDIS_HOST=redis-cut-api
REDIS_PORT=6378
REDIS_DB=0
REDIS_USERNAME=
REDIS_PASSWORD="localdev_redis_pass"
REDIS_SSL=false
REDIS_CACHE_TTL_DAYS=30

# Rate Limiter
RATE_LIMITER_DEFAULT_LIMIT_PER_MINUTE=50

# External APIs
REQUEST_LOGGING_ENDPOINT=https://schb.city-scope.hcu-hamburg.de/request_events

NOISE_API_ADDRESS="http://noise-api:8002" #assuming docker
WATER_API_ADDRESS="http://stormwater-api:8003" #assuming docker
WIND_API_ADDRESS=""
PEDESTRIAN_API_ADDRESS=""

NOISE_CELERY_WORKER_PORT=7002
WATER_CELERY_WORKER_PORT=7003
WIND_CELERY_WORKER_PORT=7004
PEDESTRIAN_CELERY_WORKER_PORT=7005




